{% extends 'base.html' %}
{% block page_content %}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Сброс пароля</h3>
                <p>Проверьте свой почтовый ящик на предмет письма со ссылкой сброса пароля. Если в течении нескольких
                    минут письма так и не пришло, проверьте папку спам.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}